.cart {
  padding: 0 2vw;

  .total-price {
    text-align: end;
    padding: 2vh 0;
    font-weight: bold;
    font-size: 1.2rem;
    color: darkgrey;
  }
}

.no-items {
  text-align-last: center;
  padding: 2vh 0;
}
