.items-list {
  margin: 1vh 5vw;
  display: flex;
  flex-flow: wrap;

  .card {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1vw;
    min-width: 200px;
    background-color: white;
    padding: 3vw;

    &:hover {
      box-shadow: 1px 1px 5px -4px black;
    }

    &-image {
      max-height: 250px;
      width: auto;
    }

    &-title {
      font-size: 1.3rem;
      font-weight: bold;
      padding: 0.5vh 0;
    }

    &-price {
      padding-bottom: 0.5vh;
      color: darkslategrey;
    }

    &-button {
      background-color: lightyellow;
      border: none;
      padding: 1vh 0;
      width: -webkit-fill-available;
      box-shadow: 1px 1px 5px -4px black;
      text-transform: uppercase;
      font-weight: bold;
      color: darkkhaki;

      &:hover {
        color: black;
        cursor: pointer;
        background-color: darkkhaki;
        color: lightyellow;
        box-shadow: 1px 1px 5px -2px black;
      }
    }
  }
}
